body{
    background: rgb(21,36,35);
    background: linear-gradient(0deg, rgba(21,36,35,1) 0%, rgba(30,51,50,1) 29%, rgba(44,73,72,1) 56%, rgba(46,79,78,1) 100%);
}
/* */
main{
    width: 70vw;
    margin: 0 auto;
    margin-top: 10vw;
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 10px;
    color:#000000;
    font-weight: 500;
  }
  
  
  .form-element, .text{
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  label, input, select, .checkbox{
    flex: 1;
    padding: 15px;
  }